@model HRIS.Models.WorkFlowDocument

@{
    ViewData["Title"] = "Edit";
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="card">
                <div class="card-header">
                    <h5>Edit WorkFlow Document</h5>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <form asp-action="Edit">
                                <ul class="nav nav-tabs md-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#document" role="tab">Document</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#details" role="tab">Details</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>

                                <div class="tab-content card-block">
                                    <div class="tab-pane active" id="document" role="tabpanel">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Id" />
                                        <div class="form-group">
                                            <label asp-for="No" class="control-label"></label>
                                            <input asp-for="No" id="no" class="form-control" readonly/>
                                            <span asp-validation-for="No" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Type" class="control-label"></label>
                                            <input asp-for="Type" id="type" class="form-control" readonly />
                                            <span asp-validation-for="Type" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Description" class="control-label"></label>
                                            <input asp-for="Description" id="description" class="form-control" readonly />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="UserRef" class="control-label"></label>
                                            <input asp-for="UserRef" id="userRef" class="form-control" readonly />
                                            <span asp-validation-for="UserRef" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LatestApprover" class="control-label"></label>
                                            <input asp-for="LatestApprover" id="latestApprover" class="form-control" readonly/>
                                            <span asp-validation-for="LatestApprover" class="text-danger"></span>
                                        </div> 
                                        <div class="form-group">
                                            <label asp-for="FinalStatus" class="control-label"></label>
                                            <input asp-for="FinalStatus" id="finalStatus" class="form-control" readonly/>
                                            <span asp-validation-for="FinalStatus" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="details" role="tabpanel">
                                        <div class="form-group">
                                            <label for="approver" class="control-label">Approver</label>
                                            <input id="approver" class="form-control" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label for="level" class="control-label">Level</label>
                                            <input id="level" class="form-control" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label for="userCode" class="control-label">UserCode</label>
                                            <input id="userCode" class="form-control" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label for="status" class="control-label">Status</label>
                                            <select id="status" asp-items="@ViewBag.approvalStatuses" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="reason" class="control-label">Reason</label>
                                            <input id="reason" class="form-control" />
                                        </div>
                                        
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Approver
                                                        </th>
                                                        <th>
                                                            Level
                                                        </th>
                                                        <th>
                                                            UserCode
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th>
                                                            Reason
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="items">
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-2">
                                                <a class="btn btn-primary" id="edit-item">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button id="btn-save" class="btn btn-primary">Save</button>
                                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="styleSelector">

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    let items = new Array();
    $(function () {
        let no = $("#no").val();
        $('#edit-item').on('click', function () {
            // prevent default action (going to the another page)
            event.preventDefault()
        });

        $('#btn-save').on('click', function () {
            // prevent default action (going to the another page)
            event.preventDefault()
        });
    });

    function populateForm(item) {
        $("#approver").val(item.Approver);
        $("#level").val(item.Level);
        $("#userCode").val(item.UserCode);
        $("#status").val(item.Status);
        $("#reason").val(item.Reason);
    }

    function populateItemtable() {
        let itemTableRows = new Array();
        items.forEach(i => {
            itemTableRows.push(`<tr>
				<td>${i.Approver}</td>
                <td>${i.Level}</td>
                <td>${i.UserCode}</td>
                <td>${i.Status}</td>
                <td>${i.Reason}</td>
			</tr>`)
        });

        $('#items').html(itemTableRows);
        $("#employeeNo").val("");
    }
    </script>
}
