@model HRIS.Models.WorkFlowRoute

@{
    ViewData["Title"] = "Edit";
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="card">
                <div class="card-header">
                    <h5>Edit WorkFlow Route</h5>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <form asp-action="Edit">
                                <ul class="nav nav-tabs md-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#details" role="tab">Details</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#approvers" role="tab">Personal Data</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>

                                <div class="tab-content card-block">
                                    <div class="tab-pane active" id="details" role="tabpanel">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Id" />
                                        <div class="form-group">
                                            <label asp-for="Document" class="control-label"></label>
                                            <select asp-for="Document" id="workflowDocs" asp-items="@ViewBag.workflowDocs" class="form-control">
                                            </select>
                                            <span asp-validation-for="Document" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Notes" class="control-label"></label>
                                            <input asp-for="Notes" id="notes" class="form-control" />
                                            <span asp-validation-for="Notes" class="text-danger"></span>
                                        </div>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" id="closed" asp-for="Closed" /> @Html.DisplayNameFor(model => model.Closed)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="approvers" role="tabpanel">
                                        <div class="form-group">
                                            <label for="approver" class="control-label">Approver</label>
                                            <select id="approver" asp-items="@ViewBag.approvers" class="form-control">
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="level" class="control-label"></label>
                                            <input id="level" class="form-control" />
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Approver
                                                        </th>
                                                        <th>
                                                            Level
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="items">
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-2">
                                                <a class="btn btn-primary" id="add-item">Add</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="btn-save" class="btn btn-primary">Save</button>
                                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="styleSelector">

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    let items = new Array();
    $(function () {
        $('#add-item').on('click', function () {
            // prevent default action (going to the another page)
            event.preventDefault()
        });

        $('#btn-save').on('click', function () {
            // prevent default action (going to the another page)
            event.preventDefault()
        });
    });

    function deleteItem(approver) {
        var index = items.findIndex(p => p.Approver === approver);
        items.splice(index, 1);
        populateItemtable();
    }

    function populateItemtable() {
        let itemTableRows = new Array();
        items.forEach(i => {
            itemTableRows.push(`<tr>
			<td>${i.Approver}</td>
			<td>${i.Level}</td>
			<td><a class="btn-danger btn-sm" onclick="deleteItem('${i.Approver}')">Delete</a></td>
		</tr>`)
        });

        $('#items').html(itemTableRows);
        $("#approver").val("");
        $("#level").val("");
    }
    </script>
}
