@{
    ViewData["Title"] = "Home Page";
}

<div class="main-body">
    <div class="page-wrapper">

        <div class="page-body">
            
        </div>
    </div>

    <div id="styleSelector">

    </div>
</div>
