@{
    ViewData["Title"] = "Home Page";
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="card">
                <div class="card-header">
                    <h5>Hover table</h5>
                    <span>use class <code>table-hover</code> inside table element</span>
                    <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5>Basic Form Inputs</h5>
                    <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>

                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                </div>

                <div class="card-block">
                    <h4 class="sub-title">Basic Inputs</h4>
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Placeholder</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       placeholder="Type your title in Placeholder">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="styleSelector">

    </div>
</div>
