@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<form method="post">
    <div class="row m-b-20">
        <div class="col-md-12">
            <h3 class="text-left txt-primary">Enter your email.</h3>
        </div>
    </div>
    <hr />

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
