@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<form id="account" method="post">
    <div class="row m-b-20">
        <div class="col-md-12">
            <h3 class="text-left txt-primary">Sign In</h3>
        </div>
    </div>
    <hr />

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="row m-t-25 text-left">
        <div class="col-sm-7 col-xs-12">
            <div class="checkbox-fade fade-in-primary">
                <label>
                    <input asp-for="Input.RememberMe" />
                    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                    <span class="text-inverse">Remember me</span>
                </label>
            </div>
        </div>
        <div class="col-sm-5 col-xs-12 forgot-phone text-right">
            <a id="forgot-password" class="text-right f-w-600 text-inverse" asp-page="./ForgotPassword">Forgot your password?</a>
        </div>
    </div>

    @*<div class="row m-t-25 text-left">
        <div class="col-sm-7 col-xs-12">
            <div class="checkbox-fade fade-in-primary">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="col-sm-5 col-xs-12 forgot-phone text-right">
            <a id="forgot-password" class="text-right f-w-600 text-inverse" asp-page="./ForgotPassword">Forgot your password?</a>
        </div>
    </div>*@

    <div class="row m-t-30">
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Log in</button>
            </div>
        </div>
    </div>
    <hr />

    <div class="form-group">
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
